{% extends 'layout.html' %}
{% block content %}
    <div class="row">
    {% for blog in blogs %}
        <div class="col-sm-4" style="padding-top:50px;">
            <div class="card" style="width: 18rem; padding-top">
              <img class="card-img-top" src="{% if blog.main_image %}{{ blog.main_image.url }}{% endif %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">{{ blog.title_description }}</p>
                <a href="{% url 'blog:detail' blog.pk %}" class="btn btn-primary">Read</a>
              </div>
            </div>
        </div>

    {% endfor %}
    </div>
{% endblock %}