<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'blog:index' %}">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog:create' %}">글 작성 <span class="sr-only">(current)</span></a>
      </li>
    {% endif %}

    </ul>

    <ul class="nav justify-content-end">
        {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link disabled" href="#">{{ request.user.username }} 님</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'user:logout' %}">Logout</a>
      </li>

        {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'user:signup' %}">SignUp</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'user:login' %}">Login</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>